body {
  margin:0;
  font-family:'Segoe UI';
  background:#000;
  color:white;
}

.navbar {
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:#111;
}

.main {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
  padding:20px;
}

.card {
  background:#111;
  padding:20px;
  border-radius:15px;
}

input {
  width:100%;
  padding:10px;
  margin:5px 0;
  border-radius:10px;
  border:none;
  background:#0a0a0a;
  color:white;
}

button {
  padding:10px;
  border:none;
  border-radius:10px;
  background:linear-gradient(90deg,#22c55e,#a855f7);
  color:white;
  cursor:pointer;
}

.student {
  background:#0d0d0d;
  margin-top:10px;
  padding:10px;
  border-radius:10px;
}

.chatbox {
  height:300px;
  overflow-y:auto;
}

.msg {
  padding:8px;
  margin:5px 0;
  border-radius:10px;
}

.user { background:#0da883; text-align:right; }
.bot { background:#a855f7; }

.login-container {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-box {
  background:#111;
  padding:30px;
  border-radius:20px;
}