body {
  background: radial-gradient(circle, #0a0a0a, #000);
  color: white;
  font-family: 'Segoe UI';
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  width: 900px;
  background: rgba(255,255,255,0.05);
  padding: 25px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 40px rgba(168,85,247,0.4);
}

h1 {
  text-align: center;
  color: #a855f7;
}

input {
  width: 100%;
  padding: 12px;
  margin: 6px 0;
  border-radius: 10px;
  border: none;
  background: #111;
  color: white;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg,#22c55e,#a855f7);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.card {
  background: #111;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border-left: 4px solid #22c55e;
}

.card button {
  background: linear-gradient(90deg,#a855f7,#22c55e);
}

table {
  width: 100%;
  margin-top: 15px;
}

th {
  background: #a855f7;
}

td, th {
  padding: 10px;
  text-align: center;
}